label span{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid white;
    background-image: linear-gradient(#646060, #000);
    transition-duration: 0.5s;
}

label input:checked ~ span{
    left: 80px;
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 221, 0));
}

#Clock {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}